body {
    text-align: center;
    display: grid;
    
  }
  .btn {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 5px solid black;
    margin: 1.5rem;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .yellow {
    background-color: #f99b45;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 10%;
  }
  
  .red {
    background-color: #d95980;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 10%;
  }
  
  .purple {
    background-color: #819ff9;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 10%;
  }
  
  .green {
    background-color: #63aac0;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 10%;
  }
  .cyan {
    background-color: rgb(93, 243, 246);
}
.redd{
  background-color: rgb(255, 0, 0);
}
  
  .flash {
    background-color: white;
  }
  
  .userflash { 
    background-color: green;
  }
  .resetbtn{
    height: 40px;
    width: 90px;
    color: rgb(255, 255, 255);
    background-color: rgba(39, 15, 195, 0.79);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10%;
  }
  /* Popup container */
/* Popup container */
.popup {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: inherit;
  width: 60%;
  background-color: #333; /* Updated background color */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; /* Updated border color */
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#close {
  cursor: pointer;
  border-radius: 0.5rem;
  height: 25px;
  width: 55px;
  background-color: yellow;
  color: black;
  font-weight: 700;
}

.resetbtn {
  cursor: pointer;
  height: 40px;
  width: 90px;
  color: rgb(255, 255, 255);
  background-color: rgba(39, 15, 195, 0.79);
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border: solid 3px black;
  font-weight: 700;
  border-radius: 10%;
}
